{% extends "account/password_change_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>パスワードを更新<h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="next">次へ</button><br>
        <a class="forgot" href="{% url 'account_reset_password' %}">パスワードを忘れた場合</a>
    </form>
{% endblock %}
