{% extends "account/signup_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>アカウント登録</h1>
 <div class="letter">
   <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
     {% csrf_token %}
     {{ form.as_p }}
     {% if redirect_field_value %}
     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
     {% endif %}
     
      <p class="agree">利用規約</p>
      <div class="agreements">
        利用規約 <br>
        1. 利用規約を書きます <br>
        2. 枠内でスクロールします<br>
         3. 最後まで見たら同意できます
      </div>
      <input type="radio" name="agreement" value="iagree" class="igotit">この規約に同意する</p>
     
     <button type="submit" class="submit">次へ </button>
    </form>
  </div>
    
    {% endblock %}
