{% extends "account/signup_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>アカウント登録</h1>
<p class='explain'>登録するメールアドレスとパスワードを<br>入力してください。</p>
<div class="letter">
   <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
     {% csrf_token %}
     {{ form.as_p }}
     {% if redirect_field_value %}
     <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
     {% endif %}
     
     
     <button type="submit" class="submit">次へ </button>
    </form>
  </div>
    
    {% endblock %}
