{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>地点の変更|遊ViVA in KYOTO</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/change_place.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 375px;
            width: 100%;
            top: -19px;
        }
        #id_place_type {
            list-style: none;
            display: inline;
            position: absolute;
            top: 93%;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <!-- ここから -->
    <div class="logo">
        <p><strong>地点の変更</strong></p>
    </div>
    <!-- ここまで共通 -->
    
    <form action="{% url 'asovi_app:change_place' %}" method="POST">
        {% csrf_token %}
        <form action="/change_place/" method="POST">
            <!-- 検索窓 -->
            <p><label for="id_keyword"></label> <input type="text" name="keyword" maxlength="200" id="id_keyword" placeholder="検索"></p>
            <button type="submit" class="search"><img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe"></button>

            <div id="map"></div>



    <p class="explain">検索の中心にしたい位置を地図上でクリックしてください。<br>緯度・経度が自動入力されます。</p>
            <input type="hidden" name="csrfmiddlewaretoken" value="ajgwh9nXcVKUjYJ9ZtDHYEuG79W3Hoi2wHOoTXIDz1P8IzKGA7mIlPJ9PGo7IlSD">
            <p><label for="id_place_type_0">カテゴリー:</label> </p>
<ul id="id_place_type">
    <div class="list">
        <div class="list1">

            <li><label for="id_place_type_0"><input type="radio" name="place_type" value="none" id="id_place_type_0" checked="">
                指定しない</label>
                
            </li>
            <li><label for="id_place_type_1"><input type="radio" name="place_type" value="amusement_park" id="id_place_type_1">
                遊園地</label>
                
            </li>
            <li><label for="id_place_type_2"><input type="radio" name="place_type" value="aquarium" id="id_place_type_2">
                水族館</label>
                
            </li>
            <li><label for="id_place_type_3"><input type="radio" name="place_type" value="art_gallery" id="id_place_type_3">
                美術館</label>
                
            </li>
            <li><label for="id_place_type_4"><input type="radio" name="place_type" value="bar" id="id_place_type_4">
                バー</label>
                
            </li>
            <li><label for="id_place_type_5"><input type="radio" name="place_type" value="bowling_alley" id="id_place_type_5">
                ボーリング場</label>
                
            </li>
            <li><label for="id_place_type_6"><input type="radio" name="place_type" value="cafe" id="id_place_type_6">
                カフェ</label>
                
            </li>
            <li><label for="id_place_type_7"><input type="radio" name="place_type" value="campground" id="id_place_type_7">
                キャンプ場</label>
                
            </li>
            <li><label for="id_place_type_8"><input type="radio" name="place_type" value="lodging" id="id_place_type_8">
                宿泊施設</label>
                
            </li>
            <li><label for="id_place_type_9"><input type="radio" name="place_type" value="movie_theater" id="id_place_type_9">
                映画館</label>
                
            </li>
        </div>

        <div class="list2">

            <li><label for="id_place_type_10"><input type="radio" name="place_type" value="museum" id="id_place_type_10">
                博物館</label>
                
            </li>
            <li><label for="id_place_type_11"><input type="radio" name="place_type" value="park" id="id_place_type_11">
                公園</label>
                
            </li>
            <li><label for="id_place_type_12"><input type="radio" name="place_type" value="restaurant" id="id_place_type_12">
                レストラン</label>
                
            </li>
            <li><label for="id_place_type_13"><input type="radio" name="place_type" value="shopping_mall" id="id_place_type_13">
                ショッピングセンター</label>
                
            </li>
            <li><label for="id_place_type_14"><input type="radio" name="place_type" value="spa" id="id_place_type_14">
                温泉</label>
            
            </li>
            <li><label for="id_place_type_15"><input type="radio" name="place_type" value="stadium" id="id_place_type_15">
                スタジアム</label>
                
            </li>
            <li><label for="id_place_type_16"><input type="radio" name="place_type" value="store" id="id_place_type_16">
                店</label>
                
            </li>
            <li><label for="id_place_type_17"><input type="radio" name="place_type" value="tourist_attraction" id="id_place_type_17">
                観光名所</label>
                
            </li>
            <li><label for="id_place_type_18"><input type="radio" name="place_type" value="zoo" id="id_place_type_18">
                動物園</label>
                
            </li>
        </div>
    </div>
</ul><p></p>
<p><label for="id_lat">緯度:</label> <input type="number" name="lat" value="34.987" step="any" id="id_lat"></p>
<p><label for="id_lng">経度:</label> <input type="number" name="lng" value="135.759" step="any" id="id_lng"></p>
<p><label for="id_radius">検索対象の半径:</label> <input type="number" name="radius" value="1000" min="0" max="50000" required="" id="id_radius"></p>
<button type="submit" class="search2">検索</button>
</form>
</form>

<p class="result">検索結果</p>
<div class="results">
    {% for result in results %}
    {{result.name}}<br>
    {{result.vicinity}}　
    <form action="{% url 'asovi_app:post' %}" method="POST">
        {% csrf_token %}
        <!--緯度と経度の情報をpost_viewに送り、表示させる-->
        <input type="hidden" name="place_lat" value="{{result.geometry.location.lat}}" id="id_lat">
        <input type="hidden" name="place_lng" value="{{result.geometry.location.lng}}" id="id_lng">
        <input type="hidden" name="place_name" value="{{result.name}}">
        <input type="submit" name="decide_place" value="地点選択">
        <br><br>
    </form>
    {% endfor %}
</div>
    
    <br>
    <br>

    <script>
        var map;
        var markers = [];
        var infoWindows = [];
        if ("{{results_json}}"){
            var results = JSON.parse('{{results_json|escapejs}}');
        }
        var curLat;
        var curLng;
        var lat;
        var lng;

        if (!navigator.geolocation) {
            alert("この端末では位置情報が取得できません");
        } else {
            navigator.geolocation.getCurrentPosition(

                function (position) {
                    curLat = position.coords.latitude;
                    curLng = position.coords.longitude;
                },

                function (error) {
                    switch (error.code) {
                        case 1: //PERMISSION_DENIED
                        alert("位置情報の利用が許可されていません");
                        break;
                        case 2: //POSITION_UNAVAILABLE
                        alert("現在位置が取得できませんでした");
                        break;
                        case 3: //TIMEOUT
                        alert("タイムアウトになりました");
                        break;
                        default:
                            alert("その他のエラー(エラーコード:" + error.code + ")");
                            break;
                    }
                }
            );
        }

        // 現在地が取得できなかった場合の中心：とりあえず京都駅
        if (!curLat || !curLng) {
            curLat = 34.986156632;
            curLng = 135.758777425;
        }

        if( {{ lat }} > -500 && {{ lng }} > -500 ){
            lat = {{ lat }};
            lng = {{ lng }};
        }else{
            lat = curLat;
            lng = curLng;
        }

        function initMap() {
            var marker;
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: lat,
                    lng: lng,
                },
                zoom: 13
            });
            // クリックイベントを追加
            map.addListener('click', function (e) {
                getClickLatLng(e.latLng, map);
            });

            function getClickLatLng(lat_lng, map) {

                // 座標を表示
                document.getElementById('id_lat').value = lat_lng.lat();
                document.getElementById('id_lng').value = lat_lng.lng();

                // 座標の中心をずらす
                map.panTo(lat_lng);
                
                // if(marker != null){
                //     marker.setMap(null);
                // }
                // marker = new google.maps.Marker({
                //     position: {
                //         lat: lat_lng.lat(),
                //         lng: lat_lng.lng()
                //     },
                //     map: map
                // });
            }

            // 検索結果表示
            if (results) {

                for (var result of results) {
                    var resultLat = result.geometry.location.lat;
                    var resultLng = result.geometry.location.lng;

                    markers.push(new google.maps.Marker({
                        position: {
                            lat: resultLat,
                            lng: resultLng,
                        },
                        map: map
                    }));
                    infoWindows.push(new google.maps.InfoWindow({
                        content: result.name
                    }));
                }
            }

            let num = markers.length
            for (let i = 0; i < num; i++) {
                markers[i].addListener('click', function () {
                    infoWindows[i].open(map, markers[i]);
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRyLEAaLFtCA4-H10Ie6QOmG9Wi0yiUJk&callback=initMap" async defer></script>

</body>

</html>
