{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>通知確認|遊ViVA in KYOTO</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/check_event.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>
   <!-- ここから -->
   <div class="logo">
    <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
    <p><strong>通知</strong></p>
    <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
  </div>
  
  <!-- サイドメニュー -->
  <div class="sidemenu hide" id="menubar">
    <ul>
      <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
      <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
      <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
      <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
      <li><a href="{% url 'asovi_app:find_user' %}">ユーザー検索</a></li>
      <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
      <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
      <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
      <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>
  </div>
  <!-- ここまで共通 -->

    <!-- フォロリク遷移タブ -->
    <a href="{% url 'asovi_app:friend_request_accept' %}">
        <img class="icon" src="/{{my_friend_requested_top.requestor_icon}}">
    </a>
    <div class="follow">
        <a href="{% url 'asovi_app:friend_request_accept' %}" class="bright"> <p class="req">フォローリクエスト:{{ new_friend_request_num }}件</p></a>
        <!-- ↑通知の数が反映されるよう修正して下さい -->
        <br>
        <a href="{% url 'asovi_app:friend_request_accept' %}" class="aright"><i class="fas fa-arrow-right right"></i></a>
        <br>
        <br>
    </div>

    <!-- New以下 -->
    <p class="new">New</p>

        <!-- 以下の『_username』系は全て_useridに差し替えて下さい -->

        {% if new_good_num > 0 %}
        <!-- {{ new_good_num }}件のいいね：<br> -->
            {% for new_good in new_goods %}
            <img src="/{{new.good.user_icon}}" alt="" class="usericon" width="50" height="50">
            <p class="notice">{{ new_good.user_username }}<br>があなたの投稿をいいねしました</p><br>
            <!-- ↓投稿画像のプレビューに差し替えて実装して下さい(クラス名はそのままで) -->
            <img src="{% static 'asovi_app/img/taro.png'%}" class="post" alt="" width="50" height="50">
            {% endfor %}
            {% endif %}
            {% if new_save_num > 0 %}
        <!-- {{ new_save_num }}件の保存：<br> -->
            {% for new_save in new_saves %}
            <!-- ↓画像をアイコンに差し替えて下さい(クラス名はそのままで) -->
                <img src="{% static 'asovi_app/img/cameraicon.png'%}" alt="" class="usericon" width="50" height="50">
            <p class="notice">{{ new_save.saver_username }}<br>があなたの投稿を保存しました</p><br>
            <!-- ↓投稿画像のプレビューに差し替えて実装して下さい(クラス名はそのままで) -->
            <img src="{% static 'asovi_app/img/taro.png'%}" class="post" alt="" width="50" height="50">
            {% endfor %}
            {% endif %}
            {% if new_reply_num > 0 %}
        <!-- {{ new_reply_num }}件のリプライ：<br> -->
            {% for new_reply in new_replies %}
            <!-- ↓画像をアイコンに差し替えて下さい(クラス名はそのままで) -->
            <img src="{% static 'asovi_app/img/cameraicon.png'%}" alt="" class="usericon" width="50" height="50">
            <p class="notice">{{ new_reply.replier_username }}<br>があなたの投稿にコメントしました<br></p>
            <!-- ↓投稿画像のプレビューに差し替えて実装して下さい(クラス名はそのままで) -->
            <img src="{% static 'asovi_app/img/taro.png'%}" class="post" alt="" width="50" height="50">
                
        {% endfor %}
    {% endif %}
    {% if new_friend_request_num > 0 %}
    <!-- {{ new_friend_request_num }}件のフレンドリクエスト：<br> -->
    {% for new_friend_request in new_friend_requests %}
            <img src="/{{ new_friend_request.user_icon }}" alt="" class="usericon" width="50" height="50">
            <p class="notice">{{ new_friend_request.requestor_username }}<br>からフォローリクエストです</p><br>
            <!-- 追加、削除機能を実装して下さい -->
            {% endfor %}
            {% endif %}
            
            <script>
                document.addEventListener('DOMContentLoaded', function(){
                  var trigger = document.getElementById('menutrigger');
                  var sidemenu = document.getElementById('menubar');
                  // クリックするとサイドバーの開閉
                  trigger.addEventListener('click', function(){
                      sidemenu.classList.toggle('hide');
                  }, false);
                }, false);
            </script>
        </body>
        
        </html>
