{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>お問い合わせ完了</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/contact_fin.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
</head>

<body>
   <!-- ここから -->
   <div class="logo">
    <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
    <p><strong>問い合わせ</strong></p>
    <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
  </div>
  
  <!-- サイドメニュー -->
  <div class="sidemenu hide" id="menubar">
    <ul>
      <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
      <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
      <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
      <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
      <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
      <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
      <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
      <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>
  </div>
  <!-- ここまで共通 -->

   <div class="contents">
       <h2>問い合わせ完了</h2>
       <p>お問い合わせ内容を送信しました。</p>
       <p>メールの返信をお待ちください。</p>
   </div>
       <p class="home"><a href="{% url 'asovi_app:place_search' %}">ホームに戻る</a></p>
    
       <script>
        document.addEventListener('DOMContentLoaded', function(){
          var trigger = document.getElementById('menutrigger');
          var sidemenu = document.getElementById('menubar');
          // クリックするとサイドバーの開閉
          trigger.addEventListener('click', function(){
              sidemenu.classList.toggle('hide');
          }, false);
        }, false);
      </script> 
</body>

</html>
