{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー検索|遊ViVA in KYOTO</title>
    <style>
        .found_user_list a {
            display: block;
        }
    </style>
     <link rel="stylesheet" href="{% static 'asovi_app/css/find_user.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
</head>
<body>
  <!-- ここから -->
  <div class="logo">
    <p><strong>検索結果一覧</strong></p>
</div>
<!-- ここまで共通 -->

<!-- <p class="hidden"><label for="username"></label><input type="search" placeholder="検索" name="username" id="username"><img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe"></p>
<p class="follow">フォローリクエスト</p> -->


<form method='GET' action="{% url 'asovi_app:find_user' %}">
            <input type="text" name="search_id" value="{{request.GET.search_id}}" id='username'  placeholder="検索">
                    <button type="submit" class="button">検索</button><img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe">

    </form>
    <div class="found_user_list">
    <p class="results">検索結果</p>
        {% for found_user in object_list %}
        <div class="list">
            <img class="icon" src="/{{request.requestor_icon}}">
            <table>
            <tr>
                <td><a href="{% url 'asovi_app:user_profile' found_user.pk %}" class="userid">@{{found_user.user_id}}</a></td>
                <tr></tr>
                <td><a href="{% url 'asovi_app:user_profile' found_user.pk %}" class="username">{{found_user.username}}</a></td>
            </tr>
        </table>
        <!-- ここから -->
        {% if found_user in }
        <form action="{% url 'asovi_app:friend_request' found_user.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="追加" class="request">
        <!-- ここまで、友達検索仕様に修正して欲しいです -->
        {% endfor %}
    </div>

    </div>
</body>

</html>
