{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー検索|遊ViVA in KYOTO</title>
    <style>
        .found_user_list a {
            display: block;
        }
    </style>
     <link rel="stylesheet" href="{% static 'asovi_app/css/find_user.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
</head>
<body>
   <!-- ここから -->
   <div class="logo">
    <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
    <p><strong>検索結果一覧</strong></p>
    <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
  </div>
  
  <!-- サイドメニュー -->
  <div class="sidemenu hide" id="menubar">
    <ul>
      <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
      <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
      <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
      <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
      <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
      <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
      <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
      <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>
  </div>
  <!-- ここまで共通 -->


<form method='GET' action="{% url 'asovi_app:find_user' %}">
            <input type="text" name="search_id" value="{{request.GET.search_id}}" id='username'  placeholder="検索">
                    <button type="submit" class="button">検索<img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe"></button>

    </form>
    <div class="found_user_list">
        <p class="results">検索結果</p>
        {% for found_user in object_list %}
            <div class="list">
                <img class="icon" src="/{{request.requestor_icon}}">
                <table>
                    <tr>
                        <td><a href="{% url 'asovi_app:user_profile' found_user.pk %}" class="userid">@{{found_user.user_id}}</a></td>
                        <tr></tr>
                        <td><a href="{% url 'asovi_app:user_profile' found_user.pk %}" class="username">{{found_user.username}}</a></td>
                    </tr>
                </table>
                <!-- ここから -->
                {% if found_user in block_list %}
                <form action="{% url 'asovi_app:find_user' found_user.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="operation" value="block">
                    <input type="submit" value="ブロック解除" class="block">
                </form>
                {% else %}
                    {% if found_user in friend_list %}
                    <form action="{% url 'asovi_app:find_user' found_user.pk %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="operation" value="friend">
                        <input type="submit" value="削除" class="request">
                        <!-- ↑上手く機能していません -->
                    </form>
                    {% else %}
                        {% if found_user in friend_request_list %}
                        <form action="{% url 'asovi_app:find_user' found_user.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="operation" vallue="friend">
                            <input type="submit" value="リクエスト削除" class="requestdelete">
                        </form>
                        {% else %}
                        <form action="{% url 'asovi_app:friend_request' found_user.pk %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="追加" class="request">
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <!-- ここまで、友達検索仕様に修正して欲しいです -->
            </div>
        {% endfor %}
    </div>

    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
          var trigger = document.getElementById('menutrigger');
          var sidemenu = document.getElementById('menubar');
          // クリックするとサイドバーの開閉
          trigger.addEventListener('click', function(){
              sidemenu.classList.toggle('hide');
          }, false);
        }, false);
      </script>
</body>

</html>
