{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>フォローリクエスト一覧｜遊ViVA in KYOTO</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/friend_request_accept.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
</head>

<body>
      <!-- ここから -->
      <div class="logo">
        <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
        <p><strong>フォローリクエスト一覧</strong></p>
        <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
      </div>
      
      <!-- サイドメニュー -->
      <div class="sidemenu hide" id="menubar">
        <ul>
          <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
          <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
          <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
          <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
          <li><a href="{% url 'asovi_app:find_user' %}">ユーザー検索</a></li>
          <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
          <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
          <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
          <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
        </ul>
      </div>
      <!-- ここまで共通 -->
    

    {% if new_requests %}
        <p class="hidden">
            <form method='GET' action="{% url 'asovi_app:friend_request_accept' %}">
                <input type="text" name="search_id" value="{{request.GET.search_id}}" id='username' placeholder="検索">
                <button type="submit" class="button"><img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe"></button>
            </form>
        </p>

        <p class="follow">フォローリクエスト</p>
        {% for request in new_requests %}
        <div class="list">
            <img class="icon" src="/{{request.requestor_icon}}">
            <div>
                <p class="userid">  @{{request.requestor.user_id}} </p>
                <p class="username">{{request.requestor_username}}</p>
            </div>
            <form action="{% url 'asovi_app:friend_request_accept' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="friend_request_pk" value="{{request.pk}}">
                <input type="submit" name="accept" value="追加" class="accept">
                <input type="submit" name="reject" value="削除" class="reject">
            </form>
        </div>
        {% endfor %}
    {% else %}
        <!-- <p class="none">現在、あなたへの友達申請はありません。</p> -->
        <p class="none">{{no_results}}</p>
    {% endif%}
    <a href="{% url 'asovi_app:friend_list' %}" class="back">友達一覧に戻る</a>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
          var trigger = document.getElementById('menutrigger');
          var sidemenu = document.getElementById('menubar');
          // クリックするとサイドバーの開閉
          trigger.addEventListener('click', function(){
              sidemenu.classList.toggle('hide');
          }, false);
        }, false);
      </script>
</body>

</html>
