{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>友達一覧|遊ViVA in KYOTO</title>
        <link rel="stylesheet" href="{% static 'asovi_app/css/friend_list.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    </head>

    <body>
   <!-- ここから -->
   <div class="logo">
    <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
    <p><strong>友達一覧</strong></p>
    <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
  </div>
  
  <!-- サイドメニュー -->
  <div class="sidemenu hide" id="menubar">
    <ul>
      <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
      <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
      <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
      <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
      <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
      <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
      <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
      <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>
  </div>
  <!-- ここまで共通 -->

    <form method='GET' action="{% url 'asovi_app:friend_list' %}">
        <input type="text" name="search_id" value="{{request.GET.search_id}}" id='username'  placeholder="検索">
        <button type="submit" class="button"><img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe"></button>
    </form>


    <a href="{% url 'asovi_app:friend_request_accept' %}">
        <img class="icon" src="/{{my_friend_requested_top.requestor_icon}}">
    </a>
    <div class="follow">
        <a href="{% url 'asovi_app:friend_request_accept' %}" class="bright"> <p class="req">フォローリクエスト:{{my_friend_requested_num}}件</p></a>
        <br>
        <a href="{% url 'asovi_app:friend_request_accept' %}" class="aright"><i class="fas fa-arrow-right right"></i></a>
        <br>
        <br>
    </div>
        <br>
        <p class="all">
        すべての友達
        </p>
        <br>
        {% for friendship in friend %}
        <br>
        <br>

            {% if friendship.requestor == me %}
            <div class="list">
                <a href="{% url 'asovi_app:user_profile' friendship.requestee.pk %}"><img class="icon2" src="/{{ friendship.requestee_icon }}" width="40" height="40"></a>
                <p class="userid"> @{{ friendship.requestee.user_id }}</p><br>
                <p class="username"> {{friendship.requestee_username|truncatechars:12}}</p>
                <form action="{% url 'asovi_app:friend_list' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' value="{{friendship.requestee.pk}}" name="friend_pk">
                    <!-- <input type="submit" name="accept" value="追加" class="accept"> -->
                    <button type="submit" class="btn btn-primary reject">削除</button>
                </form>
            </div>
            {% else %}
            <div class="list">
                <a href="{% url 'asovi_app:user_profile' friendship.requestor.pk %}"><img class="icon2" src="/{{ friendship.requestor_icon }}" width="40" height="40"></a>
                <p class="userid"> @{{ friendship.requestor.user_id }}</p><br>
                <p class="username"> {{ friendship.requestor_username|truncatechars:12 }}</p>                
                <form action="{% url 'asovi_app:friend_list' %}" method='POST'>
                    {% csrf_token %}
                    <input type='hidden' value="{{friendship.requestor.pk}}" name="friend_pk">
                    <!-- <input type="submit" name="accept" value="追加" class="accept"> -->
                    <button type="submit" class="btn btn-primary reject">削除</button>
                </form>
                <br>
            </div>
            {% endif %}

        {% endfor %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
              var trigger = document.getElementById('menutrigger');
              var sidemenu = document.getElementById('menubar');
              // クリックするとサイドバーの開閉
              trigger.addEventListener('click', function(){
                  sidemenu.classList.toggle('hide');
              }, false);
            }, false);
          </script>
    </body>
</html>
