{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>友達一覧|遊ViVA in KYOTO</title>
        <link rel="stylesheet" href="{% static 'asovi_app/css/friend_list.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    </head>

    <body>
    <!-- ここから -->
    <div class="logo">
        <p><strong>友達一覧</strong></p>
    </div>
    <!-- ここまで共通 -->

    <form method='GET' action="{% url 'asovi_app:find_user' %}">
        <input type="text" name="search_id" value="{{request.GET.search_id}}" id='username'  placeholder="検索">
                <button type="submit" class="button">検索</button><img src="{% static 'asovi_app/img/loupe.png' %}" alt="" class="loupe">

    
    <a href="{% url 'asovi_app:friend_request_accept' %}" class=""><img class="icon" src="/{{request.requestor_icon}}"></a>           
    <div class="follow">
        <a href="{% url 'asovi_app:friend_request_accept' %}" class="bright"> <p class="req">フォローリクエスト</p></a>
        <br>
        <a href="{% url 'asovi_app:friend_request_accept' %}" class="aright"><i class="fas fa-arrow-right right"></i></a>
        <br>
        
        {% for friendship in friend_requesting %}
        {{ friendship.requestee }}
        <a href="{% url 'asovi_app:user_profile' friendship.requestee.pk %}">プロフィールを見る</a>
        {% endfor %}
    </div>
        <br>
        <p class="all">
        すべての友達
        </p>
        <br>
        {% for friendship in friend %}
        <br>
        <br>
         
            {% if friendship.requestor == me %}
            <p class="userid"> @{{ friendship.requestee.user_id }}</p><br>
            <p class="username"> {{friendship.requestee_username}}</p>
                <!-- <a href="{% url 'asovi_app:post_list' friendship.requestee.pk %}">投稿を見る</a>
                <a href="{% url 'asovi_app:user_profile' friendship.requestee.pk %}">プロフィールを見る</a> -->
                <form action="{% url 'asovi_app:friend_block' friendship.requestee.pk %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary reject">削除</button>
                </form>
                
                {% else %}
            <div class="list">    
                <a href="{% url 'asovi_app:user_profile' friendship.requestor.pk %}"><img class="icon2" src="/{{request.requestor_icon}}"></a>         
                <p class="userid"> @{{ friendship.requestor.user_id }}</p><br>
                <p class="username"> {{friendship.requestor_username}}</p>
                
                <!-- <a href="{% url 'asovi_app:post_list' friendship.requestor.pk %}">投稿を見る</a>
                <a href="{% url 'asovi_app:user_profile' friendship.requestor.pk %}">プロフィールを見る</a> -->
                <form action="{% url 'asovi_app:friend_block' friendship.requestor.pk %}" method='POST'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary reject">削除</button>
                </form>
                <br>
            </div>
                {% endif %}
                
                {% endfor %}
            </div>
                
    </body>
</html>
