{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>友達一覧|遊ViVA in KYOTO</title>
        <link rel="stylesheet" href="{% static 'asovi_app/css/friend_list.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    </head>

    <body>
    <!-- ここから -->
    <div class="logo">
        <p><strong>友達一覧</strong></p>
    </div>
    <!-- ここまで共通 -->

        フレンドリクエスト:
        <br>
        現在{{my_friend_requested_num}}件のフレンドリクエストが来ています。
        <a href="{% url 'asovi_app:friend_request_accept' %}">一覧を見る</a>
        <br>
        リクエスト中:
        {% for friendship in friend_requesting %}
            {{ friendship.requestee }}
            <a href="{% url 'asovi_app:user_profile' friendship.requestee.pk %}">プロフィールを見る</a>
        {% endfor %}
        <br>
        友達一覧:
        <br>
        {% for friendship in friend %}
            {% if friendship.requestor == me %}
                {{ friendship.requestee }}

                <a href="{% url 'asovi_app:post_list' friendship.requestee.pk %}">投稿を見る</a>
                <a href="{% url 'asovi_app:user_profile' friendship.requestee.pk %}">プロフィールを見る</a>
                <form action="{% url 'asovi_app:friend_block' friendship.requestee.pk %}" method='POST'>
                {% csrf_token %}
                    <button type="submit" class="btn btn-primary">ブロック</button>
                </form>
            {% else %}
                {{ friendship.requestor }}
      
                <a href="{% url 'asovi_app:post_list' friendship.requestor.pk %}">投稿を見る</a>
                <a href="{% url 'asovi_app:user_profile' friendship.requestor.pk %}">プロフィールを見る</a>
                <form action="{% url 'asovi_app:friend_block' friendship.requestor.pk %}" method='POST'>
                {% csrf_token %}
                    <button type="submit" class="btn btn-primary">ブロック</button>
                </form>
            {% endif %}
        {% endfor %}
    </body>
</html>
