
   <!-- ここから -->
   <div class="logo">
    <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
    <p><strong></strong></p>
    <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
  </div>
  
  <!-- サイドメニュー -->
  <div class="sidemenu hide" id="menubar">
    <ul>
      <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
      <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
      <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
      <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
      <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
      <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
      <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
      <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
    </ul>
  </div>
  <!-- ここまで共通 -->

<script>
  document.addEventListener('DOMContentLoaded', function(){
    var trigger = document.getElementById('menutrigger');
    var sidemenu = document.getElementById('menubar');
    // クリックするとサイドバーの開閉
    trigger.addEventListener('click', function(){
        sidemenu.classList.toggle('hide');
    }, false);
  }, false);
</script>

<style>
  /* ヘッダー内のトリガー及びボタン */
    .menutrigger {
    position: absolute;
    margin-top: 18px;
    margin-left: -166px;
  }
  .gomypage {
    position: absolute;
    margin-top: -47px;
    margin-left: 132px;
    width: 40px;
    height: 40px;
  }

/* サイドメニュー */
.sidemenu {
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  border-right: solid 1px #707070;
  transition: .5s;
}
.hide {
  margin-left: -51%;
  transition: .5s;
}
.sidemenu ul {
  list-style: none;
  padding-top: 9px;
  padding-left: 0;
}
.sidemenu a {
  color: #909090;
  font-size: 15px;
  text-decoration: none;
}
.sidemenu li {
  margin-bottom: 15px;
  margin-left: 18%;
}
/* ここまでテンプレ */
</style>



