{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>マイページ|遊ViVA in KYOTO</title>
</head>

<body>
    <h1>マイページ</h1>
    <a href="{% url 'asovi_app:check_event' %}">通知:{{ notification }}件</a>
    <br>
    <a href="{% url 'asovi_app:user_profile' me.pk %}">プロフィール表示</a>
    <br>
    
    {% for post in post_list %}
    <img src="/{{post.image}}" alt="" width="30" height="30">
    {{post.posted_by}}
    {{post.time}}
    {{post.body}}
    <a href="{% url 'asovi_app:post_detail' post.pk %}">この投稿を表示</a>
    <br>
    {% endfor %}
    <p>友達数：{{friend_num}}人</p>
    <a href="{% url 'asovi_app:friend_list' %}">友達一覧</a>
    <br>

    <a href="{% url 'asovi_app:signout' %}">サインアウト</a>

</body>

</html>
