{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>場所検索|遊ViVA in KYOTO</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/style.css' %}">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 80%;
            width: 80%;
        }
    </style>
    <script>
        var myLat;
        var myLng;
        console.log(myLng);
        if (!navigator.geolocation) {
            window.alert('この端末では位置情報を取得できません');
        } else {
            navigator.geolocation.getCurrentPosition(success, error);

            function success(position) {
                myLat = position.coords.latitude;
                myLng = position.coords.longitude;
                console.log(myLat + ',' + myLng);
            }

            function error(position) {
                var errorMessage = {
                    0: "原因不明のエラーが発生しました。",
                    1: "位置情報取得が許可されませんでした。",
                    2: "位置情報が取得できませんでした。",
                    3: "タイムアウトしました。",
                };
                window.alert(errorMessage[error.code]);
            }
        }
    </script>
</head>
<body>
    <h1>場所検索</h1>
    <p>検索の中心にしたい位置を地図上でクリックしてください。緯度・経度が自動入力されます。</p>
    <form action="{% url 'asovi_app:place_search' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">検索</button>
    </form>
    <p>検索結果</p>
    <div id="map"></div>
    {% for result in results %}
    <a href="{% url 'asovi_app:place_detail' '{{result.place_id}}' %}">{{result.name}}</a>
    {{result.vicinity}}
    <br>
    {% endfor %}

    <script>
        console.log('1');
        var map;
        var markers = [];
        var infoWindows = [];
        var results = JSON.parse('{{results_json|escapejs}}');
        console.log('結果：' + results);
        console.log(myLat + ',' + myLng);

        console.log('2');

        function initMap(){
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: myLat,
                    lng: myLng,
                },
                zoom: 11
            });

            // クリックイベントを追加
            map.addListener('click', function (e) {
                getClickLatLng(e.latLng, map);
            });

            console.log('4');

            function getClickLatLng(lat_lng, map) {

                // 座標を表示
                document.getElementById('id_lat').value = lat_lng.lat();
                document.getElementById('id_lng').value = lat_lng.lng();

                // 座標の中心をずらす
                map.panTo(lat_lng);
            }

            if (results != null){

                for (var result of results){
                    var resultLat = result.geometry.location.lat;
                    var resultLng = result.geometry.location.lng;

                    console.log(resultLat);
                    console.log(resultLng);

                    markers.push(new google.maps.Marker({
                        position: {
                            lat: resultLat,
                            lng: resultLng,
                        },
                        map: map
                    }));
                    infoWindows.push(new google.maps.InfoWindow({
                        content: result.name
                    }));
                }
            }

            let num = markers.length
            for (let i = 0; i < num; i++){
                markers[i].addListener('click', function(){
                    infoWindows[i].open(map, markers[i]);
                });
            }
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>

</body>

</html>
