{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ホーム|遊ViVA in KYOTO</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/style.css' %}">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 60%;
            width: 70%;
        }

        form {
            display: inline;
        }
        #id_place_type {
            list-style: none;
            display: inline;
            position: absolute;
            top: 25%;
            left: 75%;
        }
    </style>
    <script>
        var myLat;
        var myLng;
        if (!navigator.geolocation) {
            window.alert('この端末では位置情報を取得できません');
        } else {
            navigator.geolocation.getCurrentPosition(success, error);

            function success(position) {
                myLat = position.coords.latitude;
                myLng = position.coords.longitude;
            }

            function error(position) {
                var errorMessage = {
                    0: "原因不明のエラーが発生しました。",
                    1: "位置情報取得が許可されませんでした。",
                    2: "位置情報が取得できませんでした。",
                    3: "タイムアウトしました。",
                };
                window.alert(errorMessage[error.code]);
            }
        }
    </script>
</head>
<body>
    <h1>遊ViVA in KYOTO</h1>
    <div>
        <a href="{% url 'asovi_app:post' %}">新規投稿作成</a>
        <a href="{% url 'asovi_app:post_map' %}">投稿検索</a>
        <a href="{% url 'asovi_app:popular' %}">人気</a>
        <a href="{% url 'asovi_app:friend_list' %}">友達</a>
        <a href="{% url 'asovi_app:check_event' %}">通知</a>
        <a href="{% url 'asovi_app:my_page' %}">マイページ</a>
        <a href="{% url 'asovi_app:settings' %}">設定</a>
        <a href="{% url 'account_logout' %}">ログアウト</a>
    </div>
    <p>検索の中心にしたい位置を地図上でクリックしてください。緯度・経度が自動入力されます。</p>
    <form action="{% url 'asovi_app:place_search' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">検索</button>
    </form>
    <div id="map"></div>
    <p>検索結果</p>
    {% for result in results %}
    <a href="{% url 'asovi_app:place_detail' result.place_id %}">{{result.name}}</a>
    {{result.vicinity}}
    <br>
    {% endfor %}


    <script>
        var map;
        var place_markers = [];
        var infoWindows_places = [];
        var post_markers = [];
        var infoWindows_posts = [];

        var posts = JSON.parse('{{ posts_json|escapejs }}'||"null");
        var results = JSON.parse('{{results_json|escapejs}}'||"null");

        if(myLat && myLng){
            var center = {
                lat: myLat,
                lng: myLng,
            }
        } else {
            var center = {
                lat: 35.0030,
                lng: 135.7674
            }
        }
        function initMap(){
            map = new google.maps.Map(document.getElementById('map'), {
                center: center,
                zoom: 13
            });

            // クリックイベントを追加
            map.addListener('click', function (e) {
                getClickLatLng(e.latLng, map);
            });

            function getClickLatLng(lat_lng, map) {

                // 座標を表示
                document.getElementById('id_lat').value = lat_lng.lat();
                document.getElementById('id_lng').value = lat_lng.lng();

                // 座標の中心をずらす
                map.panTo(lat_lng);
            }

            if(posts){
                for(var post of posts){
                    var postLat = post.fields.latitude;
                    var postLng = post.fields.longitude;

                    post_markers.push(new google.maps.Marker({
                        position: {
                            lat: postLat,
                            lng: postLng,
                        },
                        map: map,
                        icon: {
                            url: '/' + post.fields.image,
                            scaledSize: new google.maps.Size(40, 40)
                        },
                        optimized: false
                    }));

                    infoWindows_posts.push(new google.maps.InfoWindow({
                        content: '<div class="content">' + '<img src=\"/' + post.fields.image + '\"  width=\"70\">' + '<h2>' + post.fields.body + '</h2>' + '</div>' + '<form action="' + '{% url "asovi_app:place_search" %}' + '" method="POST">' + '{% csrf_token %}' + '<input type="hidden" name="good_button" value="good_button"' + '>' + '<input type="hidden" name="post_pk" value=' + post.pk + '>' + '<input type="hidden" name="me_pk" value=' + '{{me.pk}}' + '>' + '{{good_form.as_p}}' + '<button type="submit">いいね</button>' + '</form>' + '<p>' + post.fields.like + 'いいね</p>'
                    }));
                }
            }

            let post_num = post_markers.length
            for (let i = 0; i < post_num; i++){
                post_markers[i].addListener('click', function(){
                    infoWindows_posts[i].open(map, post_markers[i]);
                });

            }

            if (results){

                for (var result of results){
                    var resultLat = result.geometry.location.lat;
                    var resultLng = result.geometry.location.lng;

                    place_markers.push(new google.maps.Marker({
                        position: {
                            lat: resultLat,
                            lng: resultLng,
                        },
                        map: map
                    }));
                    infoWindows_places.push(new google.maps.InfoWindow({
                        content: result.name
                    }));
                }
            }

            let place_num = place_markers.length
            for (let i = 0; i < place_num; i++){
                place_markers[i].addListener('click', function(){
                    infoWindows_places[i].open(map, place_markers[i]);
                });
            }
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRyLEAaLFtCA4-H10Ie6QOmG9Wi0yiUJk&callback=initMap" async defer></script>

</body>

</html>
