<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Test Map</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map {
      height: 80%;
      width: 80%;
    }
  </style>
 
</head>
<body>
  <div id="map"></div>
  <ul>
    <li>lat: <span id="lat"></span></li>
    <li>lng: <span id="lng"></span></li>
  </ul>
  


  <form action="{% url 'asovi_app:post' %}" method="POST" id='latlng'>
      {% csrf_token %}
      {{form.image}}
      {{form.body}}
      <input type="submit" value="click" >

  </form>

  <input type="button" value="button" onclick="getPosition();">
 
  




  <script>
    //geolocation apiに関する設定
    if(!navigator.geolocation){
        alert("この端末では位置情報が取得できません");
    }
    var curLat;
    var curLng;
    function getPosition(){
        navigator.geolocation.getCurrentPosition(

            function(position){
                curLat = position.coords.latitude;
                curLng = position.coords.longitude;
                //curLat = 35.0;
                //curLng = 135.75;
                var form= document.getElementById('latlng')

                form.latitude.value=curLat
                form.longitude.value=curLng

            },
            


            function(error) {
                switch(error.code) {
                    case 1: //PERMISSION_DENIED
                    alert("位置情報の利用が許可されていません");
                    break;
                    case 2: //POSITION_UNAVAILABLE
                    alert("現在位置が取得できませんでした");
                    break;
                    case 3: //TIMEOUT
                    alert("タイムアウトになりました");
                    break;
                    default:
                    alert("その他のエラー(エラーコード:"+error.code+")");
                    break;
                }
            }
        );
    }






    function initMap() {


      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: 35.0030, lng: 135.7674}
      });


      map.addListener('click', function(e) {
        getClickLatLng(e.latLng, map);
      });
    }

    function getClickLatLng(lat_lng, map) {
      var lat1=lat_lng.lat()
      var lng1=lat_lng.lng()

      document.getElementById('lat').textContent = lat1
      document.getElementById('lng').textContent = lng1

      var form= document.getElementById('latlng')
      form.latitude.value=lat1
      form.longitude.value=lng1



      var marker = new google.maps.Marker({
        position: lat_lng,
        map: map
      });


      map.panTo(lat_lng);
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
</body>
</html>
