{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <title>マイページ|遊ViVA in KYOTO</title>
        <link rel="stylesheet" href="{% static 'asovi_app/css/mypage.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    </head>
    <script>
        //geolocation apiに関する設定
        if(!navigator.geolocation){
            alert("この端末では位置情報が取得できません");
        }
        var curLat;
        var curLng;
        function getPosition(){
            navigator.geolocation.getCurrentPosition(

                function(position){
                    curLat = position.coords.latitude;
                    curLng = position.coords.longitude;
                    //curLat = 35.0;
                    //curLng = 135.75;
                },

                function(error) {
                    switch(error.code) {
                        case 1: //PERMISSION_DENIED
                        alert("位置情報の利用が許可されていません");
                        break;
                        case 2: //POSITION_UNAVAILABLE
                        alert("現在位置が取得できませんでした");
                        break;
                        case 3: //TIMEOUT
                        alert("タイムアウトになりました");
                        break;
                        default:
                        alert("その他のエラー(エラーコード:"+error.code+")");
                        break;
                    }
                }
            );
        }
    </script>

    <body>
        <!-- ここから -->
        <div class="logo">
            <p><strong>マイページ</strong></p>
        </div>
    <!-- ここまで共通 -->

    <!-- アイコン画像 -->
    {% if profile.icon %}
        <img src="/{{profile.icon}}" alt="アイコン画像" id="sampleimg">
    {% else %}
        <img src="{% static 'asovi_app/img/cameraicon.png'%}" alt="" id="sampleimg">
    {% endif %}
    <!-- ここまでアイコン -->

    <!-- ここから登録情報 -->
    <div class="line">
       <div class="line1">
            <!-- ユーザーID -->
            <p class="userid">@{{user.user_id}}</p>
            <!-- 投稿数 -->
            <p class="many">{{ post_num }}</p>
            <!-- 友達数  -->
            <p class="friend">{{ friend_num }}</p>
        </div>
            <div class="line2">
                <!-- ユーザー名 -->
                <p class="username">{{ profile.username }}</p>
                <p class="toukou">投稿</p>
                <p class="tomo">友達</p>
            </div>
    </div>
    <!-- ここまで登録情報 -->

    <br>
        <div class="button">
            <div class="edit">
            <a href="{% url 'asovi_app:profile_edit' %}">編集</a>
            </div>
            <div class="logout">
                <a href="{% url 'account_logout' %}">ログアウト</a>
            </div>
        </div>
        <a href="{% url 'asovi_app:check_event' %}" class="notice">{{ notification }}件のイベント</a>

        <div id="map" class="map"></div>
        <script>
            var map;
            var markers = [];
            var infoWindows = [];
            var posts = JSON.parse('{{ posts_json|escapejs }}');
            var genre_list = JSON.parse('{{ genre_json|escapejs }}');
            curLat=34.70;
            curLng=135.50;
            //console.log(radius);
            //console.log(posts);
            var center = {
                lat: curLat,
                lng: curLng
            };
            //地図の作成
            function initMap(){
                map = new google.maps.Map(document.getElementById('map'),{
                    center: center,
                    zoom: 13
                });
                for( var post of posts ){
                    //console.log(post.fields.genre)
                    var postLat = post.fields.latitude;
                    var postLng = post.fields.longitude;

                    console.log(post);
                    //マーカーを投稿の位置に刺す
                    markers.push(new google.maps.Marker({
                        position: {
                            lat: post.fields.latitude,
                            lng: post.fields.longitude
                        },
                        map: map
                    }));
                    //マーカーをクリックした時に出る吹き出し
                    if( post.fields.genre != null ){
                        console.log(post.fields.image);
                        infoWindows.push(new google.maps.InfoWindow({
                            content : "<div id='content'>" + genre_list[post.fields.genre-1].fields.name + "<br><img src=\"../../" + post.fields.image + "\" width=\"200\"/><br>" + post.fields.body + "<div>"
                        }));
                    }else{
                        infoWindows.push(new google.maps.InfoWindow({
                            content : "<div id='content'>" + "<br><img src=\"../../" + post.fields.image + "\" width=\"200\"/><br>" + post.fields.body + "<div>"
                        }));
                    };
                    // marker.addListener('click', function() { // マーカーをクリックしたとき
                    //     infoWindow.open(map, marker); // 吹き出しの表示
                    // });
                };
                console.log(markers);
                let num = markers.length;
                for(let i=0; i<num; i++){
                    markers[i].addListener('click', function(){
                        infoWindows[i].open(map,markers[i]);
                    });
                }
            };
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRyLEAaLFtCA4-H10Ie6QOmG9Wi0yiUJk&callback=initMap" async defer></script>

    <!-- 投稿一覧 -->
     <p class="post">投稿一覧(最新の10件)</p>
        <div class="posts">
            {% for post in post10 %}
            <p>
                <a href="{% url 'asovi_app:post_detail' post.pk %}"><img src="/{{post.image}}" height="117" width="117" alt="" class="imgs"></a>
                <!-- {{post.body}}
                {{post.time}} -->
            </p>
            {% endfor %}
        </div>


        <script>
            // 画像選択に関する設定
            function previewImage(obj) {
                var fileReader = new FileReader();
                fileReader.onload = (function(){
                document.getElementById('sampleimg').src = fileReader.result;
                });
                fileReader.readAsDataURL(obj.files[0]);
            };
        </script>


    </body>

</html>
