{% load static %}

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link href="{% static 'account/css/settings.css' %}" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>設定|遊ViVA in KYOTO</title>
</head>

<body>
    <!-- ここから -->
    <div class="logo">
        <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
        <p><strong>設定</strong></p>
        <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
      </div>
      
      <!-- サイドメニュー -->
      <div class="sidemenu hide" id="menubar">
        <ul>
          <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
          <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
          <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
          <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
          <li><a href="{% url 'asovi_app:find_user' %}">ユーザー検索</a></li>
          <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
          <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
          <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
          <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
        </ul>
      </div>
      <!-- ここまで共通 -->
    <h2>アカウント設定</h2>
    <ul>
        <li><a href="{% url 'asovi_app:change_email' %}">メールアドレス変更</a></li>
        <li><a href="{% url 'account_change_password' %}">パスワード変更</a></li>
        <li><a href="{% url 'asovi_app:change_id' %}">ユーザーID変更</a></li>
        <li><a href="{% url 'asovi_app:signout' %}">アカウント削除</a></li>
    </ul>
    <h2 class="tuuti">通知設定</h2>
    <ul>
        <li><a href="{% url 'asovi_app:notification_setting' %}">プッシュ通知</a></li>
    </ul>
    <h2 class="service">サービスについて</h2>
    <ul>
        <li>プライバシーポリシー</li>
        <li>利用規約</li>
        <li><a href="{% url 'asovi_app:contact' %}">問い合わせ</a></li>
    </ul>

    <script>
        document.addEventListener('DOMContentLoaded', function(){
          var trigger = document.getElementById('menutrigger');
          var sidemenu = document.getElementById('menubar');
          // クリックするとサイドバーの開閉
          trigger.addEventListener('click', function(){
              sidemenu.classList.toggle('hide');
          }, false);
        }, false);
      </script>
    </body>

</html>
