{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>アカウント削除|遊ViVA in KYOTO</title>
    <link rel="stylesheet" href="{% static 'asovi_app/css/signout.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
</head>
<body>
         <!-- ここから -->
         <div class="logo">
            <p><strong>メールアドレス変更</strong></p>
        </div>
        <!-- ここまで共通 -->

    <h1>アカウントを削除する</h1>
    <form action="{% url 'asovi_app:signout' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="delete">削除する</button>
    </form>
    {{ msg }}
        <div class="settings">       
            <a href="{% url 'asovi_app:settings' %}"><p>設定に戻る</p></a>
        </div>
</body>

</html>
