{% load static%}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{profile.username}}さんのプロフィール｜遊ViVA in KYOTO</title>
        <link rel="stylesheet" href="{% static 'asovi_app/css/user_profile.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">

        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
        </style>
        
        <script>
            var myLat;
            var myLng;
            if ( !navigator.geolocation) {
                window.alert('この端末では位置情報を取得できません');
            } else {

                navigator.geolocation.getCurrentPosition(success, error);

                function success(position){
                    myLat = position.coords.latitude;
                    myLng = position.coords.longitude;
                }

                function error(position){
                    var errorMessage = {
                        0:"原因不明のエラーが発生しました。",
                        1: "位置情報取得が許可されませんでした。",
                        2: "位置情報が取得できませんでした。",
                        3: "タイムアウトしました。",
                    };
                    //window.alert(errorMessage[error.code]);
                    myLat=35;
                    myLng=136;
                }
            }
        </script>
　
    </head>

    <body>
    <!-- ここから -->
    <div class="logo">
        <img src="{% static 'asovi_app/img/menuicon.png'%}" alt="" width="18" height="18" class="menutrigger" id="menutrigger">
        <p><strong>プロフィール</strong></p>
        <a href="{% url 'asovi_app:my_page' %}"><img src="{% static 'asovi_app/img/mypageicon.png'%}" alt=""  class="gomypage"></a>
    </div>
    
    <!-- サイドメニュー -->
    <div class="sidemenu hide" id="menubar">
        <ul>
        <!-- <li><a href="{% url 'asovi_app:post' %}">新規投稿作成</a></li> -->
        <li><a href="{% url 'asovi_app:place_search' %}">ホーム</a></li>
        <li><a href="{% url 'asovi_app:popular' %}">人気</a></li>
        <li><a href="{% url 'asovi_app:friend_list' %}">友達</a></li>
        <li><a href="{% url 'asovi_app:find_user' %}">ユーザー検索</a></li>
        <li><a href="{% url 'asovi_app:check_event' %}">通知</a></li>
        <li><a href="{% url 'asovi_app:my_page' %}">マイページ</a></li>
        <li><a href="{% url 'asovi_app:settings' %}">設定</a></li>
        <li><a href="{% url 'account_logout' %}">ログアウト</a></li>
        </ul>
    </div>
    <!-- ここまで共通 -->
        
        <table>
            <tr>
                <th>ユーザー名：</th>
                <td>{{profile.username}}</td>
            </tr>
            <tr>
                <th>ユーザーID：</th>
                <td>{{user.user_id}}</td>
            </tr>
            <tr>
                <th>友達数：</th>
                {% if me == user %}
                <a href="{% url 'asovi_app:friend_list' %}"><td>{{ friend_num }}</td></a>
                {% else %}
                <td>{{ friend_num }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>投稿数：</th>
                <td>{{ post_num }}</td>
            </tr>
            
            <tr>
                <th>アイコン：</th>
                {% if profile.icon %}
                <td><img src="/{{profile.icon}}" width="30" height="30" alt="icon"></td>
                {% endif %}
            </tr>
            {% if interested_genres %}
            <tr>
                <th>興味ジャンル：</th>
                {% for interested_genre in interested_genres %}
                    <td>{{interested_genre.name}}</td>
                {% endfor %}
            </tr>
            {% endif %}
            <tr>
                <th>自己紹介：</th>
                <td>{{profile.introduction|linebreaksbr}}</td>
            </tr>
        </table>
        <div id="map"></div>
        <table>
            <br>
            {% for post in post_list %}
            <a href="{% url 'asovi_app:post_detail' post.pk %}"><img src="/{{post.image}}" alt="" width="117" height="117"></a>
                <!-- {{post.posted_by}}
                {{post.time}}
                {{post.body}} -->
                <br>
            {% endfor %}
            {% if user.pk == me.pk %}
                <a href="{% url 'asovi_app:profile_edit' %}">プロフィール編集</a>

            {% else %}
            <table>
                <tr><td>
                <a href="{% url 'asovi_app:post_list' user.pk %}">
                    <button>投稿一覧ページへ</button>
                </a>
                </td></tr>
                <tr><td>
                <form action="{% url 'asovi_app:friend_block' user.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">ブロック</button>
                </form>
                </td></tr>
            </table>
            {% endif %}
        </table>
        <script>
            var map;
            var markers = [];
            var infoWindows = [];
        var post_list = JSON.parse('{{ post_list_json|escapejs }}');
        
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: myLat,
                    lng: myLng,
                },
                zoom: 13
            });
            
            for (var post of post_list){
                var postLat = post.fields.latitude;
                var postLng = post.fields.longitude;
                markers.push(new google.maps.Marker({
                    position: {
                        lat: postLat,
                        lng: postLng,
                    },
                    map: map
                }));
                
                infoWindows.push(new google.maps.InfoWindow({
                    content: '<div class="content">' + '<img src=\"/' + post.fields.image + '\"  width=\"70\">' + '<h2>' + post.fields.body + '</h2>' + '</div>'
                }));
                
            }
            
            let num = markers.length
            for (let i = 0; i < num; i++){
                markers[i].addListener('click', function(){
                    infoWindows[i].open(map, markers[i]);
                });
            }
            
        }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function(){
              var trigger = document.getElementById('menutrigger');
              var sidemenu = document.getElementById('menubar');
              // クリックするとサイドバーの開閉
              trigger.addEventListener('click', function(){
                  sidemenu.classList.toggle('hide');
              }, false);
            }, false);
          </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRyLEAaLFtCA4-H10Ie6QOmG9Wi0yiUJk&callback=initMap" async defer></script>
    </body>
    </html>
    