body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
  .logo {
    width: 373px;
    height: 53px;
    text-align: center;
    border: solid #707070 1px;
  }
  .logo p {
    margin-top: 13px;
    margin-bottom: 13px;
    color: #707070;
    font-size: 20px;
    font-weight: bold; 
  }
  .logo p strong {
    margin-right: 103px;
    margin-left: 93px;
    width: 135px;
    }
  /* ここまでロゴ */

/* 遊び場ロゴ */
.border {
  margin-top: 81px;
  margin-left: 80px;
  width: 215px;
  height: 93px;
}
.logoimg {
  margin-top: -27px;
  object-fit: cover;
  width: 805px;
}

/* form部分 */
.login {
  margin-top: 73px;
}
.table {
  margin-left: 45px;
}
a:-webkit-any-link {
  margin-left: 188px;
  font-size: 15px;
  color:#BF6F1E;
  text-decoration: none;
}
.signup {
  margin-top: 43px;
  margin-left: 45px;
  color: #707070;
  font-size: 15px;
}
.signup a {
  margin-right: 30px;
  margin-left: -4px;
  font-weight: 900;
}
#id_login {
  margin-bottom: 6px;
  margin-left: 38px;
  padding-left: 8px;
  width: 273px;
  height: 40px;
  background-color: #EDEDED;
  border: solid #707070 1px;
  color: #707070;
  font-size: 15px;
}
#id_password {
  margin-bottom: -5px;
  margin-left: 38px;
  padding-bottom: 0;
  padding-left: 8px;
  background-color: #EDEDED;
  width: 273px;
  height: 40px;
  border: solid #707070 1px;
  color: #707070;
  font-size: 15px;
}
.login label {
  display: none;
}

/* ログインボタン */
.primaryAction {
  margin-top: 29px;
  margin-left: 45px;
  width: 285px;
  height: 31px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
}