body {
margin: 0;
}
/* ロゴ部分 */
.logo {
height: 53px;
width: 375px;
text-align: center;
border: solid #707070 1px;
margin-bottom: 62px;
}
.logo p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: "Segoe UI", sans-serif;
  color: #707070;
}
.logo p strong {
  margin-right: 103px;
    margin-left: 86px;
    width: 135px;
  }

h1, p {
   font-size: 15px;
  margin-left: 33px;
  color: #909090;
}
h1 {
  margin-top: 0;
  margin-bottom: 0;
}
p{
  margin-top: 8px;
  margin-bottom: 44px;
}

/* ログアウトボタン */
.logout {
  width: 285px;
  height: 31px;
  background-color: #E4A359;
  border: none;
  margin-left: 45px;
  font-size: 15px;
  font-weight: 900;
  padding: 0;
  font-family: "Meiryo", sans-serif;
  margin-top: 0;
   text-align: center;
   color: #FFFFFF;
   text-decoration: none;
}

 
.home {
  width: 285px;
  height: 33px;
  background-color: #FFFFFF;
  border: none;
  margin-left: 45px;
  font-size: 15px;
  font-weight: 900;
  padding: 0;
  font-family: "Meiryo", sans-serif;
  margin-top: 44px;
  text-align: center;
}
.home a{
    padding-top: 4px;
    padding-bottom: 4px;
    color: #909090;
    text-decoration: none;
}
.home p {
  margin-top: -37px;
  margin-left: 0px;
}

a:-webkit-any-link {
  color:  #909090;
  cursor: pointer;
  text-decoration: none !important;
}