body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
  .logo {
    width: 373px;
    height: 53px;
    text-align: center;
    border: solid #707070 1px;
  }
  .logo p {
    margin-top: 13px;
    margin-bottom: 13px;
    color: #707070;
    font-size: 20px;
    font-weight: bold; 
  }
  .logo p strong {
    margin-right: 103px;
    margin-left: 59px;
    width: 135px;
    }
  /* ここまでロゴ */
 
h1{
  margin-top: 62px;
  margin-bottom: 0;
  margin-left: 33px;
  color: #909090;
  font-size: 15px;
}
p {
  margin-left: 43px;
  margin-bottom: 8px;
  color: #909090;
  font-size: 15px;
}
label {
  display: none;
}
input[type="password" i] {
  margin-bottom: 0;
  padding: 0;
  padding-left: 9px;
  width: 274px;
  height: 44px;
  background-color: #EDEDED;
  border: solid #707070 1px;
  color: #909090;
  font-size: 15px;
}

/* ボタン */
.next {
  margin-top: 29px;
  margin-left: 43px;
  margin-bottom: 11px;
  width: 285px;
  height: 31px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
}
.forgot {
  margin-left: 103px;
  text-decoration: none;
  color: #BF6F1E;
  font-size: 15px;
  font-weight: 300;
}

/* 位置調整 */
.password_change {
  margin-top: -46px;
  margin-left: -27px;
}
