body {
margin: 0;
}
/* ロゴ部分 */
.logo {
height: 53px;
width: 375px;
text-align: center;
border: solid #707070 1px;
}
.logo p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: "Segoe UI", sans-serif;
  color: #707070;
}
.logo p strong {
  margin-right: 103px;
    margin-left: 86px;
    width: 135px;
  }
h2 {
  color: #909090;
  font-size: 15px;
  margin-top: 62px;
  margin-left: 33px;
}

/* リスト */
ul li {
  list-style: none;
  margin-bottom: 10px;

}
ul li a {
  text-decoration: none;
  color: #909090;
  margin-left: 11px;
}

/* 位置調整 */
.tuuti {
  margin-top: 18px;
}
.service {
  margin-top: 17px;
}