body {
margin: 0;
}
/* ロゴ部分 */
.logo {
height: 53px;
width: 375px;
text-align: center;
border: solid #707070 1px;
}
.logo p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: 13px;
  font-family: "Segoe UI", sans-serif;
  color: #707070;
}
.logo p strong {
  margin-right: 103px;
    margin-left:106px;
    width: 135px;
  }
.left {
  width: 18px;
  color: #707070;
  margin-left: -18px;
}
 
h1{
  margin-left: 33px;
 color: #909090;
      font-size: 15px;
      margin-top: 62px;
      margin-bottom: 0;
}
p {
  color: #909090;
  font-size: 15px;
  font-weight: 900;
}
.letter {
  margin-top: -35px;
}
.agree {
  margin-left: -12px;
  margin-top: 38px;
}
.agreements {
  padding-left: 14px;
  padding-top: 7px;
  height: 168px;
  width: 269px;
  border: solid #707070 1px;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* form部分 */

.signup {
  font-size: 15px;
    color: #707070;
    margin-left: 45px;
    font-family: "Meiryo", sans-serif;
    margin-top: 43px;
}
.signup a {
  margin-left: -4px;
  margin-right: 30px;
  font-weight: 900;
}
#id_email {
  background-color: #EDEDED;
  height: 44px;
  width: 274px;
  border: solid #707070 1px;
  padding: 0;
  padding-left: 9px;
  margin-bottom: 0;
  font-size: 15px;
  color: #909090;
}

label {
  display: none;
}
input[type="password" i] {
  display: none;
}
.igotit {
  font-weight: 100;
}

/* 次へボタン */
.submit {
  width: 285px;
  height: 31px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
  padding: 0;
  font-family: "Meiryo", sans-serif;
  margin-top: 29px;
}