/* ここから */
body {
  margin: 0;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
.logo {
  height: 51px;
  width: 373px;
  border: solid #707070 1px;
  text-align: center;
  }
.logo p {
  margin-top: 11px;
  margin-bottom: 13px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  }
/* ここまでテンプレ */

/* 検索窓 */
#id_keyword {
  z-index: 1;
  position: absolute;
  margin-top: 0px;
  margin-left: 35px;
  padding-left: 12px;
  width: 269px;
  height: 40px;
  background-color: #EDEDED;
  border: solid 1px #707070;
  color: #909090;
  font-size: 15px;
}
.search {
  margin-top: 30px;
  margin-left: -5%;
  width: 0px;
}
.loupe {
  z-index: 1;
  position: absolute;
  margin-top: -58px;
  margin-left: 317px;
  width: 15px;
}
.result  {
  margin-top: 35px;
  margin-left: 24px;
  color: #909090;
  font-weight: 900;
}

/* 検索条件 */
form p {
  color: #707070;
}
.explain {
  margin-top: -14px;
  margin-left: 5px;
  color: #707070;
  font-size: 12px;
}
label {
  margin-left: 10px;
}
#id_lat {
  margin-top: 255px;
}
.search2 {
  margin-top: 15px;
  margin-left: 45px;
  width: 285px;
  height: 30px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-weight: 900;
}

/* 検索結果 */
.list {
  display: flex;
  margin-top: -40px;
  margin-left: -28px;
  color: #707070;
}
.list1 {
  width: 146px;
}
.results {
  margin-top: -5px;
  margin-left: 24px;
  color: #909090;
  font-size: 15px;
}
input[type="submit" i] {
  margin-left: 234px;
  width: 76px;
  height: 30px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-weight: 900;
}
