/* ここから */
body {
  margin: 0;
  overflow: hidden;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  text-align: center;
  border: solid #707070 1px;
  }
  .logo p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 13px;
    font-family: "Segoe UI", sans-serif;
    color: #707070;
  }
/* ここまでテンプレ */
.top {
  margin-top: 62px;
  margin-left: 33px;
  color: #909090;
  font-weight: 900;
  font-size: 15px;
}
.comp {
  margin-top: 8px;
  margin-left: 33px;
  color: #909090;
  font-size: 15px;
}
/* ボタン */
.return {
    width: 285px;
    height: 33px;
    background-color: #E4A359;
    border: none;
    margin-left: 45px;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    font-family: "Meiryo", sans-serif;
    margin-top: 44px;
    text-align: center;
}
.return a{
    padding-top: 4px;
    padding-bottom: 4px;
    color: #FFFFFF;
    text-decoration: none;
}
.return p {
  padding-top: 5px;
}