/* ここから */
body {
  margin: 0;
  /* overflow: hidden; */
  width: 100%;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  text-align: center;
  border: solid #707070 1px;
  }
  .logo p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 13px;
    font-family: "Segoe UI", sans-serif;
    color: #707070;
  }
/* ここまでテンプレ */

/* フォロリクへの遷移 */
.icon {
  width: 48px;
  height: 48px;
  border: solid 1px #707070;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 24px;
}
.follow  {
    margin-left: 24px;
    font-weight: 900;
    color: #909090;
    display: flex;
    position: relative;
}
.req {
    margin-left: 64px;
    font-size: 15px;
    margin-top: -41px;
    text-decoration: none;
}
.aright {
  margin-top: -36px;
  margin-left: 103px;
  color: #909090;
}
.bright {
  text-decoration: none;
  color: #909090;
}
.right {
  width: 20px;
  height: 20px;
  position: absolute; 
}
.fa-arrow-right:before {
  content: "\f061";
    margin-left: -10px;
    color: #464242;
}

/* New */
 .new {
  color: #909090;
  font-size: 15px;
  font-weight: 900;
  margin-top: -38px;
  margin-left: 30px;
  margin-bottom: 7px;
 }
.usericon {
  border-radius: 50%;
  margin-left: 22px;
  margin-bottom: 35px;
  margin-top: 6px;
}
.notice {
  margin-left: 81px;
  margin-top: -74px;
  margin-bottom: -8px;
  font-size: 10px;
  color: #909090;
}
.post {
  margin-left: 300px;
  margin-top: -57px;
  position: absolute;
}

/* ボタン */
/* .accept {
  background-color: #E4A359;
  color: #FFFFFF;
  width: 50px;
  height: 30px;
  border: none;
  margin-left: -56px;
  margin-left: -56px;
}
.reject {
  background-color: #EDEDED;
  width: 50px;
    height: 30px;
    border: 1px solid #707070;
    margin-left: 6px;
    color: #909090;
  } */

