/* ここから */
body {
  margin: 0;
  width: 100%;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  text-align: center;
  border: solid #707070 1px;
  }
  .logo p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 13px;
    font-family: "Segoe UI", sans-serif;
    color: #707070;
  }
/* ここまでテンプレ */

.contents {
  margin-left: 33px;
}
h2 {
  margin-top: 62px;
  color: #909090;
  font-weight: 900;
  font-size: 15px;
}
p {
  margin-top: 8px;
  color: #909090;
  font-size: 15px;
}
.what {
  margin-top: 33px;
}
form {
  margin-left: 8px;
  margin-top: -10px;
}
/* ボタン */
.send {
    width: 285px;
    height: 33px;
    background-color: #E4A359;
    color: #ffffff;
    border: none;
    margin-left: 45px;
    margin-bottom: -32px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 900;
    padding: 0;
    font-family: "Meiryo", sans-serif;
    text-align: center;
}
