/* ここから */
body {
  margin: 0;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
.logo {
  height: 51px;
  width: 373px;
  border: solid #707070 1px;
  text-align: center;
  }
.logo p {
  margin-top: 11px;
  margin-bottom: 13px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  }
  /* ヘッダー内のトリガー及びボタン */
  .menutrigger {
    position: absolute;
    margin-top: 18px;
    margin-left: -166px;
  }
  .gomypage {
    position: absolute;
    margin-top: -47px;
    margin-left: 132px;
    width: 40px;
    height: 40px;
  }

/* サイドメニュー */
.sidemenu {
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  border-right: solid 1px #707070;
  transition: .5s;
}
.hide {
  margin-left: -51%;
  transition: .5s;
}
.sidemenu ul {
  list-style: none;
  padding-top: 9px;
  padding-left: 0;
}
.sidemenu a {
  color: #909090;
  font-size: 15px;
  text-decoration: none;
}
.sidemenu li {
  margin-bottom: 15px;
  margin-left: 18%;
}
/* ここまでテンプレ */

/* 検索窓 */
#username {
  position: absolute;
  margin-top: 20px;
  margin-left: 45px;
  padding-left: 10px;
  width: 271px;
  height: 40px;
  background-color: #EDEDED;
  border: solid 1px #707070;
  font-size: 15px;
  color: #909090;
}
.button {
  position: absolute;
  margin-top: 30px;
  margin-left: -48px;
}
.loupe {
  position: absolute;
  margin-top: 2px;
  margin-left: 319px;
  width: 15px;
}
.results  {
  margin-top: 84px;
  margin-left: 24px;
  color: #909090;
  font-weight: 900;
}

/* 検索結果 */
.list {
  display: flex;
  margin-top: 25px;
  margin-left: 22px;
  color: #909090;
}
.icon {
  margin-right: 10px;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  border: solid 1px #707070;
}
.userid {
  width: 156px;
  text-decoration: none;
  color: #909090;
  font-size: 15px;
}
.username {
  text-decoration: none;
  color: #909090;
  font-size: 10px;
}
/* ボタン */
.request {
  margin-left: 60px;
  width: 50px;
  height: 30px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
}
.requestdelete {
  width: 115px;
  height: 30px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
}
.block {
  margin-left: 10px;
  width: 103px;
  height: 30px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
}

