/* ここから */
body {
  margin: 0;
  overflow: hidden;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  text-align: center;
  border: solid #707070 1px;
  }
  .logo p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 13px;
    font-family: "Segoe UI", sans-serif;
    color: #707070;
  }
/* ここまでテンプレ */

/* 検索窓 */
#username {
  width: 271px;
  height: 40px;
  background-color: #EDEDED;
  border: solid 1px #707070;
  margin-left: 45px;
  margin-top: 20px;
  position: absolute;
  padding-left: 10px;
  font-size: 15px;
  color: #909090;
}
.button {
  margin-left: -48px;
  position: absolute;
  margin-top: 30px;
}
.loupe {
  position: absolute;
  width: 15px;
  margin-left: 319px;
  margin-top: 2px;
}
.results  {
  margin-top: 84px;
    margin-left: 24px;
    font-weight: 900;
    color: #909090;
}

/* 検索結果 */
.list {
  display: flex;
  margin-top: 25px;
  color: #909090;
  margin-left: 22px;
}
.icon {
    width: 48px;
    height: 48px;
    border: solid 1px #707070;
    border-radius: 50px;
    margin-right: 10px;
}
.userid {
  text-decoration: none;
  color: #909090;
  font-size: 15px;
  width: 156px;
}
.username {
  text-decoration: none;
  color: #909090;
  font-size: 10px;
}
/* ボタン */
.request {
    background-color: #E4A359;
    color: #FFFFFF;
    width: 50px;
    height: 30px;
    border: none;
    margin-left: 60px;

}
.requestdelete {
  background-color: #E4A359;
  color: #FFFFFF;
  width: 115px;
  height: 30px;
  border: none;
}
.block {
  background-color: #E4A359;
  color: #FFFFFF;
  width: 103px;
  height: 30px;
  border: none;
  margin-left: 10px;
}

