 /* ここから */
 body {
  margin: 0;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
.logo {
  height: 51px;
  width: 373px;
  border: solid #707070 1px;
  text-align: center;
  }
.logo p {
  margin-top: 11px;
  margin-bottom: 13px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  }
/* ここまでテンプレ */

/* アイコン画像 */
#sampleimg {
  margin-top: 20px;
  margin-left: 31px;
  object-fit: cover;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: #707070 1px solid;
}

/* 自己情報 */
.line {
  margin-top: -124px;
  margin-left: 166px;
}
.line1, .line2 {
  display: flex;
}
.line1 a {
  text-decoration: none;
}
.line1 p {
  color: #909090;
  font-size: 20px;
  font-weight: 900;
}
.userid {
  margin-top: 28px;
  width: 109px;
  font-size: 13px !important;
}
.many{
  margin-left: 20px;
}

.friend {
  margin-left: 30px;
}
.username {
  width: 75px;
  font-weight: 900 !important;
}
.line2 {
  margin-top: -35px;
}
.line2 p {
  color: #909090;
  font-size: 15px;
  font-weight: 100;
}
.toukou {
  margin-left: 46px;
}
.tomo {
   margin-left: 14px;
}

/* ボタン系 */
.button {
    display: flex;
    margin-top: -28px;
    margin-left: 175px;
}
.logout {
  margin-left: 11px;
  width: 87.43px;
  height: 28px;
  border: #707070 solid 1px;
}
.logout a {
  margin-top: 900px;
  margin-left: 6px;
  color: #707070;
  font-size: 15px;
  text-decoration: none;
}
.edit {
  width: 75px;
  height: 28px;
  background-color: #E4A359;
  border:#E4A359 solid 1px;
}
.edit a {
  margin-top: 900px;
  margin-left: 23px;
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
}
.notice {
  margin-top: -10px;
  margin-left: 267px;
  color: #E4A359;
  font-size: 13px;
  text-decoration: none;
}

/* 地図 */
.map {
  overflow: hidden;
  width: 375px;
  height: 375px;
  border: #707070 1px solid;
}

/* 投稿一覧 */
.posts {
  display: flex;
}
.post {
  margin-bottom: 0;
  margin-left: 33px;
  color: #909090;
  font-size: 15px;
  font-weight: 900;
}
.imgs {
  margin-right: 9px;
}