body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  border: solid #707070 1px;
  text-align: center;
  }
  .logo p {
    margin-top: 11px;
    margin-bottom: 13px;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
  }
  .menutrigger {
    position: absolute;
    margin-top: 18px;
    margin-left: -166px;
  }
  .gomypage {
    position: absolute;
    margin-top: -47px;
    margin-left: 132px;
    width: 40px;
    height: 40px;
  }

/* サイドメニュー */
.sidemenu {
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  border-right: solid 1px #707070;
  transition: .5s;
}
.hidden {
  margin-left: -51%;
  transition: .5s;
}
.sidemenu ul {
  list-style: none;
  padding-top: 9px;
  padding-left: 0;
}
.sidemenu a {
  color: #909090;
  font-size: 15px;
  text-decoration: none;
}
.sidemenu li {
  margin-bottom: 15px;
  margin-left: 18%;
}
/* ボタンの補足 */
.choice {
  position: absolute;
  margin-top: 8px;
  margin-left: 11px;
  color: #707070;
  font-size: 12px;
}

/* 検索窓 */
#id_keyword, #id_key_word {
  z-index: 1;
  position: absolute;
  margin-top: 26px;
  margin-left: 35px;
  padding-left: 12px;
  width: 269px;
  height: 40px;
  background-color: #EDEDED;
  border: solid 1px #707070;
  color: #909090;
  font-size: 15px;
}
.search {
  margin-top: 30px;
  margin-left: -6%;
  width: 0px;
}
.loupe {
  z-index: 1;
  position: absolute;
  margin-left: 317px;
  margin-top: -75px;
  width: 15px;
}
.result  {
  margin-top: 35px;
  margin-left: 24px;
  color: #909090;
  font-weight: 900;
}

/* 検索条件 */
form p {
  color: #707070;
}
.category {
  margin-top: -30px;
}
.explain {
  margin-top: 3px;
  margin-left: 5px;
  color: #707070;
  font-size: 12px;
}
label {
  margin-left: 10px;
}
.list {
  display: flex;
  margin-top: -22px;
  margin-left: -28px;
  color: #707070;
}
.list1 {
  width: 146px;
}
#id_lat {
  margin-top: 255px;
}
.search2 {
  margin-top: 15px;
  margin-left: 45px;
  width: 285px;
  height: 30px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-weight: 900;
}

/* 検索結果 */
.results {
  margin-top: -5px;
  margin-left: 24px;
  color: #909090;
  font-size: 12px;
}
.results a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

/* ボタン */
#place_search, #post_search {
  margin-right: 5px;
  padding: 5px 5px;
  width: 100px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-weight: 900;
}
#place_search:hover, #post_search:hover {
  background-color: #909090;
}
.checked {
  background-color: #f1740d;
}
.add {
  z-index: 3;
  position: fixed;
  margin-top: 15px;
  margin-left: 264px;
  width: 112px;
}