/* ここから */
body {
  margin: 0;
  width: 100%;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  text-align: center;
  border: solid #707070 1px;
  }
  .logo p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 13px;
    font-family: "Segoe UI", sans-serif;
    color: #707070;
  }
/* ここまでテンプレ */

.contents {
  margin-left: 33px;
  margin-top: 62px;
}
h2 {
  margin-top: 20px;
  margin-left: 33px;
  color: #909090;
  font-weight: 900;
  font-size: 15px;
}
.fire {
  width: 20px;
  height: 24px;
  position: absolute;
  margin-left: 153px;
  margin-top: -36px;
}
p {
  color: #909090;
  font-size: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

