body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  border: solid #707070 1px;
  text-align: center;
  }
  .logo p {
  margin-top: 11px;
  margin-bottom: 13px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  }
    /* ヘッダー内のトリガー及びボタン */
    .menutrigger {
      position: absolute;
      margin-top: 18px;
      margin-left: -166px;
    }
    .gomypage {
      position: absolute;
      margin-top: -47px;
      margin-left: 132px;
      width: 40px;
      height: 40px;
    }
  
  /* サイドメニュー */
  .sidemenu {
    z-index: 2;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    border-right: solid 1px #707070;
    transition: .5s;
  }
  .hide {
    margin-left: -51%;
    transition: .5s;
  }
  .sidemenu ul {
    list-style: none;
    padding-top: 9px;
    padding-left: 0;
  }
  .sidemenu a {
    color: #909090;
    font-size: 15px;
    text-decoration: none;
  }
  .sidemenu li {
    margin-bottom: 15px;
    margin-left: 18%;
  }
  /* ここまでテンプレ */

/* アイコン画像 */
#sampleimg {
  margin-top: 20px;
  margin-left: 31px;
  object-fit: cover;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  border: #707070 1px solid;
}

/* 自己情報 */
.line {
  margin-top: -124px;
  margin-left: 166px;
}
.line1 {
  display: flex;
}
.line1 p {
  color: #909090;
  font-size: 20px;
  font-weight: 900;
}
.line1 a {
 text-decoration: none;
}
.userid {
  margin-top: 28px;
  width: 109px;
  font-size: 13px !important;
}
.many{
  margin-left: 20px;
}
.friend {
  margin-left: 30px;
}
.username {
  width: 75px;
  font-weight: 900 !important;
}
.line2 {
  display: flex;
  margin-top: -35px;
}
.line2 p {
  color: #909090;
  font-size: 15px;
  font-weight: 100;
}
.toukou {
  margin-left: 46px;
}
.tomo {
   margin-left: 14px;
}


/* ボタン系 */
.button {
  display: flex;
  margin-top: -28px;
  margin-left: 175px;
}
.logout {
  margin-left: 11px;
  width: 87.43px;
  height: 28px;
  border: #707070 solid 1px;
}
.logout a {
  margin-top: 900px;
  margin-left: 6px;
  color: #707070;
  font-size: 15px;
  text-decoration: none;
}
.edit {
  width: 75px;
  height: 28px;
  background-color: #E4A359;
  border:#E4A359 solid 1px;
}
.edit a {
  margin-top: 900px;
  margin-left: 23px;
  color: #FFFFFF;
  font-size: 15px;
  text-decoration: none;
}
.notice {
  margin-top: -10px;
  margin-left: 267px;
  color: #E4A359;
  font-size: 13px;
  text-decoration: none;
}

/* 地図 */
.map {
  width: 373px !important;
  height: 375px !important;
  border: solid 1px #707070;
}

/* 投稿一覧 */
.posts {
  display: flex;
}
.post {
  margin-bottom: 0;
  margin-left: 33px;
  color: #909090;
  font-size: 15px;
  font-weight: 900;
}
.imgs {
  margin-right: 9px;
}