body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
  .logo {
  height: 51px;
  width: 373px;
  border: solid #707070 1px;
  text-align: center;
  }
  .logo p {
  margin-top: 11px;
  margin-bottom: 13px;
  color: #707070;
  font-size: 20px;
  font-weight: bold;
  }
  /* ヘッダー内のトリガー及びボタン */
  .menutrigger {
    position: absolute;
    margin-top: 18px;
    margin-left: -166px;
  }
  .gomypage {
    position: absolute;
    margin-top: -47px;
    margin-left: 132px;
    width: 40px;
    height: 40px;
  }

/* サイドメニュー */
.sidemenu {
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  border-right: solid 1px #707070;
  transition: .5s;
}
.hide {
  margin-left: -51%;
  transition: .5s;
}
.sidemenu ul {
  list-style: none;
  padding-top: 9px;
  padding-left: 0;
}
.sidemenu a {
  color: #909090;
  font-size: 15px;
  text-decoration: none;
}
.sidemenu li {
  margin-bottom: 15px;
  margin-left: 18%;
}
/* ここまでテンプレ */

/* ヘッダー */
.header {
  display: flex;
}
.kyoto {
  margin-top: 20px;
  margin-left: 33px;
  width: 290px;
  color: #909090;
  font-size: 15px;
  font-weight: 900;
}
.three {
  margin-top: 20px;
  margin-bottom: 18px;
}

/* 編集・削除タブ */
.edi, .dele{
  display: flex;
}
.edi a {
  text-decoration: none;
}

.edit, .delete {
  margin: 0;
}
.edit {
  color: #BF6F1E;
}
.dele a {
  text-decoration: none;
}
.delete {
  color: #909090;
}
.dust {
  margin-top: 5px;
}
.drawer {
  z-index: 1;
  position: absolute;
  margin-top: 58px;
  margin-left: 286px;
  width: 88px;
  height: 30px;
  background-color: #FFFFFF;
  border: solid 1px #707070;
}
.drawer p {
  margin-left: 10px;
  font-size: 15px;
}
.hidden {
  display: none;
}
.postimg {
  position: relative;
  margin-bottom: -10px;
}
.pen {
  margin-top: 2px;
}

/* いいね */
#iine {
  margin-top: 6px;
  margin-left: 116px;
}