/* ここから */
body {
  margin: 0;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  }
  /* ロゴ部分 */
  .logo {
    margin-top: -24px;
    width: 373px;
    height: 51px;
    border: solid #707070 1px;
    text-align: center;
  }
  .logo p {
    margin-top: 11px;
    margin-bottom: 13px;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
  }
    /* ヘッダー内のトリガー及びボタン */
    .menutrigger {
      position: absolute;
      margin-top: 18px;
      margin-left: -166px;
    }
    .gomypage {
      position: absolute;
      margin-top: -47px;
      margin-left: 132px;
      width: 40px;
      height: 40px;
    }
  
  /* サイドメニュー */
  .sidemenu {
    z-index: 2;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    border-right: solid 1px #707070;
    transition: .5s;
  }
  .hide {
    margin-left: -51%;
    transition: .5s;
  }
  .sidemenu ul {
    list-style: none;
    padding-top: 9px;
    padding-left: 0;
  }
  .sidemenu a {
    color: #909090;
    font-size: 15px;
    text-decoration: none;
  }
  .sidemenu li {
    margin-bottom: 15px;
    margin-left: 18%;
  }
/* ここまでテンプレ */

/* 地図 */
#map {
  width: 375px;
  height: 375px;
}

/* ボタン */
button {
  margin-top: -8px;
  margin-bottom: 47px;
  margin-left: 43px;
  width: 285px;
  height: 31px;
  background-color: #E4A359;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 900;
  }